/* About page
   ========================================================================== */

.partner-logos {
	text-align: center;
	img{
	  max-width: 160px;
	  max-height: 80px;
	  margin: 2em 3rem;
	  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	  filter: grayscale(100%);
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
		transition: 0.4s all;
		opacity: 0.75;
	  &:hover {
  		filter: none;
	  	-webkit-filter: none;
	  	opacity: 1;
	  }
	}
	a{
		&:hover {
			opacity: 1;
		}
	}
}

#partners {
  padding-top: 170px;
  margin-top: -170px;
}
