// GLOBAL

*, *:before, *:after {
  @include box-sizing(border-box);
}

html, body {
  height: 100%;
  font-size: 100%;
  line-height: 1.5;
}

body {
  background: #fff;
  color: $base-font-color;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-style: $base-font-style;
  min-width: $row-min-width;
}

// Links

a {
  cursor: pointer;
  color: $base-color;
  text-decoration: underline;
  @include transform(translate3d(0, 0, 0));
  @include transition(opacity 0.2s ease 0s);
}

a:visited {
  color: $base-color;
}

a:hover {
  opacity: 0.64;
  outline: none;
}

a:active{
  outline: none;
  @include transform(translate(0, 1px));
}

.bttn-cta {
  display: inline-block;
  border-radius: $global-radius;
  font-weight: $base-font-bold;
  min-width: 10rem;
  padding: 0.25rem 1rem;
  border: 2px solid;
  text-decoration: none;
  &.light {
    color: #fff;
    border-color: #fff;
    background: rgba(#fff, 0.08);
  }
  &.dark {
    border-color: $base-color;
    color: $base-color;
  }
  &.large {
    padding: 0.5rem 1.5rem;
  }
}

// Rows

.row {
  width: 100%;
  max-width: $row-max-width;
  @extend .clearfix;
  margin-left: auto;
  margin-right: auto; 
  padding-left: 1rem;
  padding-right: 1rem;
  @include media(small-up) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  @include media(large-up) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}


// SITE-HEADER

#site-header {
  position: relative;
  padding: 4rem 0;
  @include background(linear-gradient(rgba($base-color, 0.48), rgba($base-color, 0.64), rgba($base-color, 0.80)), url("../graphics/layout/hero-image.jpg") center top no-repeat);
  background-size: cover;
  color: #fff;
  text-align: center;
  @extend .antialiased;
  margin-bottom: 2rem;
  min-height: 16rem;
  .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    @extend .row;
    @include transform(translate(-50%, -50%));
  }
  .cta-wrapper {
    margin-top: 2rem;
  }
  @include media(medium-up) {
    margin-bottom: 3rem;
    min-height: 24rem;
    .cta-wrapper {
      margin-top: 3rem;
    }
  }
  @include media(large-up) {
    margin-bottom: 4rem;
    min-height: 28rem;
  }
}

.site-title {
  @extend .hd-hyper;
  margin-bottom: 0;
}

.site-description {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 0.25rem;
  font-weight: $base-font-regular;
}

.site-note {
  display: inline-block;
  border-radius: $global-radius;
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
  background: rgba($base-color, 0.80);
  font-weight: $base-font-regular;
}

// SITE-BODY

#site-body {
  text-align: center;
  .inner {
    @extend .row;
  }
}

.feat-block {
  @include span(12/12);
  margin-bottom: 2rem;
  > h2 {
    @include heading(1.25rem, medium-up); // 20, 24
  }
  @include media(medium-up) {
    @include col(4/12, $cycle: 3);
    margin-bottom: 0;
  }
}

// SITE-FOOTER

#site-footer {
  text-align: center;
  padding: 0 0 2rem 0;
  margin-top: 2rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: tint($base-color, 32%);
  a, a:visited {
    color: tint($base-color, 32%);
  }
  .inner {
    @extend .row;
  }
  @include media(medium-up) {
    margin-top: 3rem;
  }
  @include media(large-up) {
    margin-top: 4rem;
  }
}